<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Keeping Books</title>
</head>
<body>
    <header>
        <h1>KEEPING BOOKS</h1>
    </header>
    <nav class="nav nav-pills nav-justified">
        <a class="nav-link active" aria-current="page" href="">Mis libros</a>
        <a class="nav-link" href="#">Mis autores</a>
        <a class="nav-link" href="#">Mis editoriales</a>
    </nav>

    <main>
        <section>
            <br>
            <article>
                <a href="book/register">GUARDAR NUEVO LIBRO</a>
            </article>
            <br>
            <article>
                <a href="author/register">Quiero ingresar un nuevo autor</a>
            </article>
            <br>
            <article>
                <a href="editorial/register">Quiero ingresar una nueva editorial</a>
            </article>
        </section>
    </main>
    
</body>
</html>